@using SD.ACMA.DNCRProject.Website.Controllers
@using SD.ACMA.DNCRProject.Website.Extensions
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SD.ACMA.DNCRProject.Website.Models.ForgotPasswordViewModel>

@{
    this.MapModel();
}

@if (!String.IsNullOrEmpty(ViewBag.ForgotPasswordErrorMessage) || Model.EmailSent)
{
    <script>
        $(function() {
            $("#userForgotPassword").dialog("open");
        });
    </script>
}

<script>
    $(function () {
        $(".remember").on("click", function (event) {
            event.preventDefault();
            $("#userForgotPassword").dialog("close");
            openUserLogin();
        });
    });
</script>

<div id="userForgotPassword" class="dialog" title="Request Password Reset">
    @if (Model.EmailSent)
    {
        <script>
            $(function () {
                $(".ui-dialog-title:visible").text("Password Reset Requested");
            });
        </script>
        <div class="dialogDesc">
            <p>An email has been sent to your email address with instructions on how to reset your account password.</p>
        </div>
        <div class="formField">
            <button type="button" id="closeForgotPassword" class="shaded width125">OK</button>
        </div>
    }
    else
    {
        using (Html.BeginUmbracoForm<UserSurfaceController>("ForgotPassword"))
        {
            @Html.AntiForgeryToken()
            <div class="dialogDesc">
                <p>Please enter the account email address:</p>
            </div>
            <div>
                <p class="italic">All fields marked with * are mandatory</p>
                <div class="errorContainer"></div>
            </div>
            <fieldset>
                <legend>Password reset</legend>
                <div class="formField fieldMargin">
                    <div class="floatLeft">
                        @Html.RequiredLabelFor(model => model.ForgotPasswordEmailAddress, new { @class = "inputLabel" })
                    </div>
                    <div class="floatLeft">
                        @Html.TextBoxFor(model => model.ForgotPasswordEmailAddress, new { @class = "long deny-html", @type = "email" })
                        @Html.ValidationMessageFor(model => model.ForgotPasswordEmailAddress, "", new { @class = "error numberError" })
                    </div>
                    <div class="clear"></div>
                </div>
            </fieldset>
            <div class="dialogDesc">
                <p>An email will be sent with instructions on how to reset your account password.</p>
                <p><span class="forgot"><a href="#" class="industryBlueColor remember">Wait - I remember my password now!</a></span></p>
            </div>
            <hr />
            <div class="formError">@Html.Raw(ViewBag.ForgotPasswordErrorMessage)</div>
            <div class="formField">
                <button class="shaded width180">REQUEST RESET</button>
                <button type="button" class="remember width125">CANCEL</button>
            </div>
            }
        }
</div>